body {
  --border-color: #d0d0d0;
  --error-color: #e74c3c;
  --error-text-color: #ffffff;
  --primary-background: #fbfbfb;
  --primary-hover-background: #ffffff;
  --primary-text-color: #333333;
  --secondary-background: #eeeeee;
  --secondary-hover-background: #f5f5f5;
  --secondary-text-color: #979797;
  --success-color: #2ecc71;
  --success-text-color: #ffffff;
  --tertiary-background: #e0e0e0;
  --tertiary-hover-background: #e9e9e9;
  --theme-color: #2980b9;
  --theme-hover-color: #3498db;
  --theme-primary-text: #ffffff;
  --theme-secondary-text: #2980b9;
  --warn-color: #f39c12;
  --warn-text-color: #ffffff;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background);
  user-select: none;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-background);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-text-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-text-color);
}

.form {
  padding: 1rem;

  & > div {
    padding-bottom: 1rem;
  }

  label {
    display: block;
    padding-bottom: 0.2rem;
  }

  input,
  select {
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 0;
    color: var(--primary-text-color);
    padding: 0.4rem 0.8rem;
    font-size: 0.9em;
    background-color: var(--primary-background);

    &:hover {
      background-color: var(--primary-hover-background);
    }

    &:focus {
      background-color: var(--primary-hover-background);
      border-color: var(--theme-color);
      box-shadow: 0 0 0 1px var(--theme-color);
      outline: none;
    }

    &:read-only {
      background-color: var(--secondary-background);

      &:hover {
        background-color: var(--secondary-hover-background);
      }
    }

    &:disabled {
      background-color: var(--tertiary-background);

      &:hover {
        background-color: var(--tertiary-hover-background);
      }
    }
  }

  button {
    width: 100%;
    border: solid 1px var(--border-color);
    border-radius: 0;
    color: var(--primary-text-color);
    padding: 0.4rem 0.8rem;
    font-size: 0.9em;
    background-color: var(--tertiary-hover-background);

    &:hover {
      background-color: var(--secondary-background);
    }

    &:focus {
      background-color: var(--secondary-background);
      border-color: var(--theme-color);
      box-shadow: 0 0 0 1px var(--theme-color);
      outline: none;
    }

    &:disabled {
      background-color: var(--tertiary-background);

      &:hover {
        background-color: var(--tertiary-hover-background);
      }
    }
  }
}
