.settings {
  & > span {
    display: block;
    padding: 1.2rem 1rem 0.8rem;
    font-weight: bold;
  }
}

.settings-columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.4rem;

  & > div {
    position: relative;
    & > div {
      position: relative;
      padding: 0 1rem;

      div {
        max-width: 100%;
      }

      & > span {
        display: block;
        padding: 0.5rem 0 0.2rem;
      }

      .form {
        padding: 0;
        button {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

.settings-theme {
  display: flex;

  div {
    width: 10rem;
    height: 6rem;
    border: solid 0.2rem var(--secondary-background);
    margin: 0.2rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 2rem;
      height: 100%;
    }

    &::after {
      content: attr(data-name);
      display: block;
      position: absolute;
      left: 2.4rem;
      bottom: 0.4rem;
      font-size: 0.8rem;
    }

    img {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
  .active {
    border-color: var(--theme-hover-color);
  }
  .theme-light {
    background-color: #eeeeee;
    color: #333333;
    margin-left: 0;

    &::before {
      background-color: #fbfbfb;
    }
  }
  .theme-dark {
    background-color: #303030;
    color: #ffffff;

    &::before {
      background-color: #0d0d0d;
    }

    img {
      filter: invert(1);
    }
  }
}

.settings-highlight-color {
  display: flex;

  div {
    width: 2rem;
    height: 2rem;
    border: solid 0.2rem var(--border-color);
    border-radius: 100%;
    margin: 0.2rem;
  }
  .active {
    border-color: var(--primary-text-color);
  }
  .color-teal {
    background-color: #16a085;
    margin-left: 0;
  }
  .color-green {
    background-color: #27ae60;
  }
  .color-blue {
    background-color: #2980b9;
  }
  .color-purple {
    background-color: #8e44ad;
  }
  .color-yellow {
    background-color: #f39c12;
  }
  .color-orange {
    background-color: #d35400;
  }
  .color-red {
    background-color: #c0392b;
  }
}

.settings-proxy-status {
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}
