$h1-font-size: $font-size-base * 1.8;
$h2-font-size: $font-size-base * 0.75;
$headings-margin-bottom: $spacer / 4;

ascii-checkout {
  ascii-keypad {
    height: 75vh;
  }

  h2 {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
    margin-bottom: $headings-margin-bottom;
  }

  .transaction #total {
    font-size: $h1-font-size;
    font-weight: $font-weight-bolder;
  }

  .btn {
    border-color: $white;
    font-size: $h1-font-size;
    color: $white;
    position: relative;
    width: 100%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    height: 25%;
    border-width: 3px;
    border-style: solid;

    @include hover-focus-active {
      border-color: inherit;
    }

    &.active {
      border-color: inherit;
    }
  }

  .transaction .btn {
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-bottom-width: 6px;
  }

  .menu .btn {
    font-size: inherit;
    height: 100%;
    border-bottom: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:nth-child(3n + 1) {
      border-left: none;
    }

    &:nth-child(3n) {
      border-right: none;
    }
  }
}
