.connection-status {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between !important;
  font-size: 6rem;

  & > div:nth-child(1),
  & > div:nth-child(3),
  & > div:nth-child(5) {
    font-size: 1em;
    margin-bottom: -0.2em;
  }
  & > div:nth-child(2),
  & > div:nth-child(4) {
    position: relative;
    padding-bottom: 0.066em;

    svg {
      display: block;
    }
    svg:first-child {
      font-size: 0.333em;
      position: absolute;
      top: -1em;
    }
    svg:last-child {
      font-size: 0.416em;
    }
  }
  .success > svg:first-child {
    color: var(--success-color);
  }
  .error > svg:first-child {
    color: var(--error-color);
  }

  .error ~ div ~ div {
    opacity: 0.2;
  }
}
