.payment-page-left {
  position: absolute;
  left: 0;
  width: 40%;
  top: 0;
  height: 100%;
}

.payment-page-right {
  position: absolute;
  left: 40%;
  right: 0;
  top: 0;
  bottom: 3.5rem;
}

.payment-page-basket-sum {
  position: absolute;
  bottom: 0;
  height: 3.2rem;
  padding: 0 1rem 0.2rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--secondary-hover-background);
  border-top: solid 1px var(--border-color);
  border-right: solid 1px var(--border-color);

  span:last-child {
    color: var(--theme-color);
    font-weight: bold;
  }
}

.payment-page-tabs {
  position: absolute;
  left: 40%;
  right: 0;
  height: 3.2rem;
  bottom: 0;
  border-top: solid 1px var(--border-color);
  background-color: var(--secondary-hover-background);

  display: flex;
  justify-content: space-around;

  span {
    display: block;
    flex-grow: 1;
    text-align: center;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 1rem 0.2rem;

    &.active {
      color: var(--theme-color);
      background-color: var(--primary-background);
    }
  }
}
