.payment-status {
  height: 10rem;
  font-size: 8rem;
  padding-top: 2rem;

  &.payment-success {
    color: var(--success-color);
  }
  &.payment-warn {
    color: var(--warn-color);
  }
  &.payment-error {
    color: var(--error-color);
  }
}
.payment-message {
  color: var(--error-color);
  height: 1rem;
}
.payment-amount {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
}
