.product-list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.product-list-tabs {
  position: absolute;
  bottom: 0;
  height: 3.2rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.1rem;
  background-color: var(--secondary-hover-background);
  border-top: solid 1px var(--border-color);

  svg {
    font-size: 1.2rem;
  }

  div {
    overflow: hidden;
    display: block;
    flex: 1 1 0px;
    gap: 0.3rem;
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.active {
      //font-weight: bold;
      color: var(--theme-color);
      background-color: var(--primary-background);
    }
  }
}

.product-list-content {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 3.2rem;

  padding: 0.6rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.product-entry {
  position: relative;
  height: 3rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.product-entry-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.9rem;
  height: 2.9rem;

  &.bottle,
  &.coffee,
  &.cup {
    & > div div::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &.bottle > div div::before {
    //background: linear-gradient(155deg, rgba(0, 0, 0, 0) 69%, var(--bottle-color) 69%, var(--bottle-color) 100%);
    background: var(--bottle-color);
  }

  &.coffee > div div::before {
    //background: linear-gradient(155deg, rgba(0, 0, 0, 0) 69%, var(--coffee-color) 69%, var(--coffee-color) 100%);
    background: var(--coffee-color);
  }

  &.cup > div div::before {
    //background: linear-gradient(155deg, rgba(0, 0, 0, 0) 69%, var(--cup-color) 69%, var(--cup-color) 100%);
    background: var(--cup-color);
  }

  & > div {
    width: 100%;
    padding-top: 100%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--tertiary-background);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        position: absolute;
        z-index: 2;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.product-entry-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3.6rem;
  right: 3.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.product-entry-stamps {
  font-size: 0.8rem;
  display: flex;
  line-height: 1.2rem;
  gap: 0.5rem;

  &:empty {
    display: none;
  }
  & > div {
    display: flex;
    align-items: center;
  }
}

.product-entry-price {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product-entry-name {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.product-entry-bio {
  color: var(--success-color);
}
