.quick-access {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.quick-access-row {
  display: flex;
  flex: 1 1 0px;
  gap: 0.6rem;

  &:last-child {
    flex-grow: 0.9;
  }
}
.quick-access-entry {
  flex: 1 1 0px;
  padding: 0.5rem;

  position: relative;
  background-color: var(--primary-background);
  border: solid 1px var(--border-color);

  &:hover {
    background-color: var(--primary-hover-background);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
  }

  &.group-bottle::before {
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 75%, var(--bottle-color) 75%, var(--bottle-color) 100%);
  }

  &.group-stamp {
    border-radius: 100%;
    border-width: 4px;

    .quick-access-entry-name {
      top: 12% !important;
    }

    .quick-access-entry-center {
      top: 30% !important;
    }
  }

  &.group-coffee::before {
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 75%, var(--coffee-color) 75%, var(--coffee-color) 100%);
  }

  &.group-cup::before {
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 75%, var(--cup-color) 75%, var(--cup-color) 100%);
  }

  &.bottle-stamp,
  &.bottle-free {
    border-color: var(--bottle-color);
  }

  &.coffee-stamp,
  &.coffee-free {
    border-color: var(--coffee-color);
  }
}

.quick-access-entry-center {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.quick-access-entry-extra {
  position: absolute;
  right: -0.4rem;
  bottom: -0.4rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-background);
  border: solid 1px var(--border-color);
  border-radius: 100%;
  z-index: 1;

  span {
    display: none;
  }
}

.quick-access-entry-name {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-size: 0.9rem;
  text-align: center;
}

.quick-access-entry-stamp {
  display: flex;
  align-items: center;
}
