body[data-theme="gruvbox_dark"] {
    --border-color: #7c6f64;
    --error-color: #cc241d;
    --error-text-color: #ebdbb2;
    --primary-background: #1d2021;
    --primary-hover-background: #111314;
    --primary-text-color: #ebdbb2;
    --secondary-background: #32302f;
    --secondary-hover-background: #282828;
    --secondary-text-color: #928374;
    --success-color: #98971a;
    --success-text-color: #ebdbb2;
    --tertiary-background: #504945;
    --tertiary-hover-background: #3c3836;
    --theme-color: #fb4934;
    --theme-hover-color: #cc241d;
    --theme-primary-text: #1d2021;
    --theme-secondary-text: #3c3836;
    --warn-color: #d79921;
    --warn-text-color: #ebdbb2;
}
