body[data-theme="gruvbox_light"] {
    --border-color: #bdae93;
    --error-color: #cc241d;
    --error-text-color: #f9f5d7;
    --primary-background: #f9f5d7;
    --primary-hover-background: #fbf8e3;
    --primary-text-color: #3c3836;
    --secondary-background: #f2e5bc;
    --secondary-hover-background: #fbf1c7;
    --secondary-text-color: #928374;
    --success-color: #98971a;
    --success-text-color: #f9f5d7;
    --tertiary-background: #d5c4a1;
    --tertiary-hover-background: #ebdbb2;
    --theme-color: #9d0006;
    --theme-hover-color: #cc241d;
    --theme-primary-text: #f9f5d7;
    --theme-secondary-text: #ebdbb2;
    --warn-color: #d79921;
    --warn-text-color: #f9f5d7;
}
