body[data-theme="nord_light"] {
    --border-color: #d1d7e3;
    --error-color: #bf616a;
    --error-text-color: #eceff4;
    --primary-background: #eceff4;
    --primary-hover-background: #f0f2f6;
    --primary-text-color: #2e3440;
    --secondary-background: #e5e9f0;
    --secondary-hover-background: #e9ecf2;
    --secondary-text-color: #7c8493;
    --success-color: #a3be8c;
    --success-text-color: #eceff4;
    --tertiary-background: #d8dee9;
    --tertiary-hover-background: #dfe4ed;
    --theme-color: #5e81ac;
    --theme-hover-color: #8fbcbb;
    --theme-primary-text: #eceff4;
    --theme-secondary-text: #e5e9f0;
    --warn-color: #ebcb8b;
    --warn-text-color: #2e3440;
}
