body[data-theme="nord_dark"] {
    --border-color: #535d70;
    --error-color: #bf616a;
    --error-text-color: #eceff4;
    --primary-background: #2e3440;
    --primary-hover-background: #2b313c;
    --primary-text-color: #eceff4;
    --secondary-background: #3b4252;
    --secondary-hover-background: #363c4b;
    --secondary-text-color: #949aa5;
    --success-color: #a3be8c;
    --success-text-color: #eceff4;
    --tertiary-background: #434c5e;
    --tertiary-hover-background: #404859;
    --theme-color: #88c0d0;
    --theme-hover-color: #8fbcbb;
    --theme-primary-text: #eceff4;
    --theme-secondary-text: #e5e9f0;
    --warn-color: #ebcb8b;
    --warn-text-color: #2e3440;
}
