
.dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
    }
}

.dialog-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20rem;
    margin-left: -10rem;
    height: 24rem;
    margin-top: -12rem;
    background-color: var(--secondary-background);
    border: solid 1px var(--border-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.dialog-width {
        width: 36rem;
        margin-left: -18rem;
    }
}

.dialog-title {
    font-size: 2rem;
    line-height: 3rem;
}
.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dialog-actions {
    line-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog-action {
    padding: 0 0.8rem;
}
