.payment > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-header {
    font-size: 2rem;
    line-height: 3rem;
}
.payment-status {
    height: 10rem;
    font-size: 8rem;
    padding-top: 2rem;

    .payment-success {
        color: var(--success-color);
    }
    .payment-warn {
        color: var(--warn-color);
    }
    .payment-error {
        color: var(--error-color);
    }
}
.payment-message {
    margin-top: -0.2rem;
    margin-bottom: 1rem;
    height: 0;
}
.payment-amount {
    font-size: 1.5rem;
    line-height: 3rem;
}
.payment-cancel {
    line-height: 3rem;
}