#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        line-height: 3rem;
        height: 100%;
        overflow: hidden;
        clear: both;
        background-color: var(--secondary-background);
        border-right: solid 1px var(--border-color);
        z-index: 1;
        transition: width 0.4s;

        div {
            position: relative;
            height: 3rem;
            width: 100%;

            svg {
                width: 1.6rem;
                height: 1.6rem;
                margin: 0.7rem;
                display: block;
                position: absolute;
            }
            span {
                display: block;
                position: absolute;
                left: 3.5rem;
                line-height: 3rem;
            }

            &:hover {
                background-color: var(--secondary-hover-background);
            }

            &.active {
                background-color: var(--primary-background);
                color: var(--theme-color);

                &:hover {
                    background-color: var(--primary-hover-background);
                }
            }

            &:last-child {
                position: absolute;
                bottom: 0;
            }
        }

        &.active {
            width: 10rem;
        }
    }

    #main {
        position: absolute;
        top: 0;
        left: 3rem;
        right: 0;
        height: 100%;
    }
}
