@media (prefers-color-scheme: dark) {
  body {
    --border-color: #555555;
    --error-color: #b23528;
    --error-text-color: #ffffff;
    --primary-background: #0d0d0d;
    --primary-hover-background: #000000;
    --primary-text-color: #ffffff;
    --secondary-background: #303030;
    --secondary-hover-background: #242424;
    --secondary-text-color: #868686;
    --success-color: #239a55;
    --success-text-color: #ffffff;
    --tertiary-background: #4d4d4d;
    --tertiary-hover-background: #404040;
    --theme-color: #e74c3c;
    --theme-hover-color: #c0392b;
    --theme-primary-text: #ffffff;
    --theme-secondary-text: #ec7063;
    --warn-color: #e59311;
    --warn-text-color: #ffffff;
  }
}
