<button class="btn btn-primary" value="1" (click)="addDigit()">1</button>
<button class="btn btn-primary" value="2" (click)="addDigit()">2</button>
<button class="btn btn-primary" value="3" (click)="addDigit()">3</button>
<button class="btn btn-primary" value="4" (click)="addDigit()">4</button>
<button class="btn btn-primary" value="5" (click)="addDigit()">5</button>
<button class="btn btn-primary" value="6" (click)="addDigit()">6</button>
<button class="btn btn-primary" value="7" (click)="addDigit()">7</button>
<button class="btn btn-primary" value="8" (click)="addDigit()">8</button>
<button class="btn btn-primary" value="9" (click)="addDigit()">9</button>
<button class="btn btn-primary" (click)="negateTotal()">-</button>
<button class="btn btn-primary" value="0" (click)="addDigit()">0</button>
<button class="btn btn-primary" (click)="clear()"><fa-icon [icon]="undoIcon"></fa-icon></button>
