@import "~bootstrap/scss/mixins";

.btn {
  position: relative;
  width: 100%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  height: 25%;
  border-width: 3px;
  border-style: solid;

  @include hover-focus-active {
    border-color: inherit;
  }

  &.active {
    border-color: inherit;
  }

  &:nth-child(-n + 3) {
    border-top: none;
  }

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n) {
    border-right: none;
  }
}
