.account-detail {
}

.form {
  padding: 1rem;

  & > div {
    padding-bottom: 1rem;
  }

  label {
    display: block;
    padding-bottom: 0.2rem;
  }

  input,
  select {
    width: 100%;
    border: solid 1px var(--border-color);
    color: var(--primary-text-color);
    padding: 0.4rem 0.8rem;
    font-size: inherit;

    background: var(--primary-background);
    &:hover,
    &:focus {
      background: var(--primary-hover-background);
      outline-color: var(--theme-color);
    }

    &:read-only {
      background: var(--secondary-background);

      &:hover {
        background: var(--secondary-hover-background);
      }
    }

    &:disabled {
      background: var(--tertiary-background);

      &:hover {
        background: var(--tertiary-hover-background);
      }
    }
  }
}
