$enable-rounded:                false;
$enable-responsive-font-sizes:  true;
$enable-shadows:                false;
$enable-gradients:              false;
$enable-transitions:            false;
$enable-print-styles:           false;

$font-size-base: 1.2rem;

$btn-focus-width: 0;

@import "~bootstrap/scss/bootstrap";

@import "app/checkout/checkout";
@import "app/checkout/components/keypad/keypad";
