@use 'theme/theme-exports';

@mixin prevent-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
html {
    @include prevent-user-select();

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--primary-text-color);
    background: var(--secondary-background);
    font-family: Roboto, sans-serif;
    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-background);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-text-color);
}
